<h1 style="line-height:40px;">
    <span>搜索AWS无服务器视频转码解决方案</span>
    <awsui-button class="awsui-util-f-r" icon="question-circle" go-click="../document/Searching-in-the-serverless-video-transcode.Chn.html"></awsui-button>
</h1>
<!--<p>Search the Serverless Video Transcode to discover and access data relevant to your business needs. Begin by entering a search term browse the available datasets.</p>-->
<p>搜索AWS无服务器视频转码解决方案以发现和访问与您的业务需求相关的数据。 通过输入搜索词开始，浏览可用的数据集。</p>

<awsui-alert type={{awsUiAlert.type}} ng-show="awsUiAlert.show">
    <span dom-region="header">{{awsUiAlert.header}}</span>
    <span dom-region="content">{{awsUiAlert.content}}<button class="awsui-alert-dismiss-control awsui-alert-times-{{awsUiAlert.type}} awsui-button-as-link awsui-icon" aria-label="close" type="button" ng-click="dismissAwsUiAlert()"></button></span>
</awsui-alert>


<awsui-alert type="error" ng-show="showSearchError">
<!--    <span dom-region="header">Service Error </span>-->
    <span dom-region="header">服务错误</span>
<!--    <span dom-region="content">An unexpected error occurred when searching the Serverless Video Transcode repository.</span>-->
    <span dom-region="content">搜索AWS无服务器视频转码解决方案存储库时发生意外错误。</span>
</awsui-alert>
<form class="clearfix awsui-util-mt-l" name="searchForm" novalidate ng-submit="search(search.terms)">
    <div class="c-m-2 c-m-push-10">
<!--        <awsui-button variant="primary" text="Search" type="submit"></awsui-button>-->
        <awsui-button variant="primary" text="搜索" type="submit"></awsui-button>
    </div>
    <div class="c-m-10 c-m-pull-2">
<!--        <awsui-textfield name="search" ng-model="search.terms" class="no-gutter" ng-required data-disabled="false" placeholder="Enter search term..."></awsui-textfield>-->
        <awsui-textfield name="search" ng-model="search.terms" class="no-gutter" ng-required data-disabled="false" placeholder="输入搜索条目..."></awsui-textfield>
    </div>
</form>

<section class="awsui-util-mt-l" ng-show="searchString.trim().length > 0 && (!results || results.length == 0)">
<!--    <label>No results found for search term(s) <awsui-label label="{{searchString}}" type="disabled"></awsui-label>.</label>-->
    <label>没有找到搜索结果<awsui-label label="{{searchString}}" type="disabled"></awsui-label>.</label>
</section>

<section class="awsui-util-mt-l" ng-show="results && results.length > 0">
    <div class="awsui-util-mb-s">
<!--        <label>Search for <awsui-label label="{{searchString}}" type="info"></awsui-label> resulted in <awsui-label label="{{results.length}}" type="info"></awsui-label> hit(s)</label>-->
        <label>Search for <awsui-label label="{{searchString}}" type="info"></awsui-label> resulted in <awsui-label label="{{results.length}}" type="info"></awsui-label> hit(s)</label>
    </div>
    <table class="grid">
        <thead>
            <th>购物车</th>
            <th>编辑</th>
            <th>名称</th>
            <th>描述</th>
            <th>创建于</th>
            <th>最近更新时间</th>
            <th>删除</th>
        </thead>
        <div >
            <tr ng-repeat="res in results">
                <td style="width:25px;">
                    <awsui-checkbox ng-model="res.cart_flag"
                                    title="{{res.cart_flag ? '从购物车删除' : '加入购物车'}}"
                                    ng-change="toggleCart(res)"></awsui-checkbox>
                </td>
                <td style="width:25px;">
                    <awsui-button icon="pencil" text="" variant="standalone-icon"
                                  label="Edit Package" title="编辑转码任务"
                                  href="#package/{{res.package_id}}"></awsui-button>
                </td>
                <td>{{res.name}}</td>
                <td>{{res.description}}</td>
                <td>{{res.created_at_pretty}}</td>
                <td>{{res.updated_at_pretty}}</td>
                <td style="width:25px;">
                    <awsui-button icon="times" text="" variant="standalone-icon"
                                  label="Delete Package" title="删除转码任务"
                                  ng-click="deletePackage(res.package_id, res.name)"></awsui-button>
                </td>
            </tr>
        </div>
    </table>
</section>

<awsui-modal visible="deleteModal.show" header="Delete" dismiss="closeDeleteModal()">
    <span dom-region="content" ng-if="deleteModal.type == 'package'">
<!--        <p>Deleting this <b>'{{deleteModal.name}}' package</b> <b class="awsui-status-negative">will remove</b> the entry from the Serverless Video Transcode and <b class="awsui-status-negative">delete</b> the dataset files from Amazon S3. Note that if you have an AWS Glue crawler running, it will not be deleted, and must be deleted manually.</p>-->
        <p>删除这个 <b>'{{deleteModal.name}}' 转码任务</b> <b class="awsui-status-negative">将删除</b> AWS无服务器视频转码解决方案中这个转码任务中的数据并<b class="awsui-status-negative">删除</b> S3中的数据. 注意事项: 如果当前有Glue的抓取程序在运行, 数据将无法被自动删除，需要您手动到S3进行删除.</p>
        <p><b> 确定继续么?</b></p>
    </span>
    <span dom-region="footer">
        <awsui-button text="删除" variant="danger" class="awsui-util-f-r" ng-click="confirmDeleteModal()"></awsui-button>
        <awsui-button text="取消" variant="link" class="awsui-util-f-r" ng-click="closeDeleteModal()"></awsui-button>
    </span>
</awsui-modal>