
<h1>仪表盘</h1>
<section class="awsui-util-mt-l">
    <div class="c-m-4 c-m-push-8 additional-info">
        <div class="title">转码任务</div>
        <div class="detail">
            <div>可见范围: {{accessiblePackages}}</div>
            <div>拥有者: {{ownedPackages}}</div>
        </div>
        <hr />
        <div class="title">开始使用</div>
        <div class="detail">
            请阅读 <a target="_blank" href="../document/Serverless-Video-Transcode-Solution.Chn.html">文档</a> 来了解更多AWS无服务器视频转码解决方案的使用.
        </div>
        <hr />
        <div class="title">反馈</div>
        <div class="detail">
            <a target="_blank" href="https://docs.aws.amazon.com/forms/aws-doc-feedback?hidden_service_name=AWS%20Solutions&hidden_guide_name=Data%20Lake%20Solution&hidden_api_version=&hidden_file_name=data%20lake%20console">请给我们反馈</a> AWS无服务器视频转码解决方案的使用情况.
        </div>
    </div>
    <div class="c-m-8 c-m-pull-4" style="padding-left:0px;">
<!--        <p>Search the Serverless Video Transcode to discover and access data relevant to your business needs. Begin by entering a search term browse the available datasets.</p>-->
        <p>搜索AWS无服务器视频转码解决方案以发现和访问与您的业务需求相关的数据。 通过输入搜索词开始，浏览可用的数据集。</p>
        <div class="awsui-util-mb-l">
            <awsui-button variant="primary" text="创建转码任务" href="#package/new"></awsui-button>
        </div>
        <form class="clearfix" name="searchForm" novalidate ng-submit="search(search.terms)">
            <div class="c-m-2 c-m-push-10">
                <awsui-button variant="primary" text="搜索" type="submit"></awsui-button>
            </div>
            <div class="c-m-10 c-m-pull-2">
                <awsui-textfield name="search" ng-model="search.terms" class="no-gutter" ng-required data-disabled="false" placeholder="请输入搜索字段..."></awsui-textfield>
            </div>
        </form>
    </div>
</section>

<awsui-modal id="intro-modal" size="large" visible="showIntroModal" header="{{slideTitle}}">
    <span dom-region="content">
        <div ng-show="currentSlide===0">
            <p>AWS无服务器视频转码解决方案解决方案可帮助您轻松标记，搜索，共享和管理整个组织或与其他外部组织的数据集。</p>
            <img src="/images/serverless-video-transcode-intro-alt.png" />
        </div>
        <div ng-show="currentSlide===1">
            <p>AWS无服务器视频转码解决方案解决方案基于安全，耐用，高度可扩展的Amazon Simple Storage Service（Amazon S3）构建。</p>
            <img src="/images/serverless-video-transcode-s3-alt.png" />
        </div>
        <div ng-show="currentSlide===2">
            <p>直接上传数据集，链接Amazon S3中的现有数据集，甚至链接其他AWS账户中的数据。</p>
            <img src="/images/serverless-video-transcode-linking-alt.png" />
        </div>
        <div ng-show="currentSlide===3">
            <p>搜索整个AWS无服务器视频转码解决方案解决方案，找到感兴趣的数据集并创建清单文件，以探索满足您需求的数据的价值。</p>
            <img src="/images/serverless-video-transcode-search.png" />
        </div>
    </span>
    <span dom-region="footer">
        <awsui-button text="{{navText}}" variant="primary" class="awsui-util-f-r" ng-click="nextIntroSlide()"></awsui-button>
    </span>
</awsui-modal>
